* {
  margin: 0;
  padding: 0;
}

html {
	background: #20252b;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  font-family: 'Cabin', sans-serif;
  color: #ffeded;
  font-size: 7vmin;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

section:nth-child(odd) {
  justify-content: flex-end;
}
