* {
  margin: 0;
  padding: 0;
}

html {
  background: #1d2025;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  font-family: 'Cabin', sans-serif;
  color: #e7e7f0;
  font-size: 7vmin;
  text-transform: uppercase;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

section:nth-child(odd) {
  justify-content: flex-end;
}

.wrapper {
  position: relative;
  z-index: 10;
	padding: 0 26px;
}

.shadow1,
.shadow2 {
  position: absolute;
  top: 0;
  left: 0;
	margin-left: 26px;
}

.shadow1 {
  color: #727278;
  z-index: -1;
}
.shadow2 {
  color: #39393c;
  z-index: -2;
}
